{% extends 'core/base.html' %}

{% block title %}
    Dashboard_job
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<h2 class="text-center mt-3">{{job.title}}</h2>
    {% for application in job.application.all %}
        <h4 class="mt-3">{{application.created_by}}</h4>
        <p>{{application.content}}</p>
        <p>{{application.experience}}</p>
        <p>{{application.created_at}}</p>
        <img src="{{application.applicant_image.url}}" alt="Applicant's Pic" width="200" height="200">
<hr>

    {% endfor %}
{% endblock %}