{% extends 'core/base.html' %}

{% block title %}
    Singup
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-5">
            <form class="my-5" method="POST" action=".">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form | crispy}}
        
                    <hr/>
                    <label for="">Account Type</label>
                    <select class="custom-select" name="account_type">
                        <option value="jobseer" selected>Job Seeker</option>
                        <option value="employer">Employer</option>
                      </select>
                </div>
                <button class="btn btn-primary" type='submit'>Submit</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
    
{% endblock %}